.my_lessons_page {
  min-width: 1030px;

  & > h2 {
    font-size: 22px;
    color: #28313B;
    line-height: 22px;
    width: 990px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  // // 适应1280屏幕
  // @media screen and (min-width: 1280px) {
  //   & > h2 {
  //     width: 1040px;
  //   }
  // }

  // // 适应1440屏幕
  // @media screen and (min-width: 1439px) {
  //   & > h2 {
  //     width: 1060px;
  //   }
  // }

  // // 适应大屏幕
  // @media screen and (min-width: 1680px) {
  //   & > h2 {
  //     width: 1460px;
  //   }
  // }
}